html,
body {
  height: 100% !important;
  overflow-y: auto !important;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.3);
}

::-webkit-scrollbar-thumb {
  background: rgba(180, 180, 180, 0.7);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(230, 230, 230, 1);
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.container {
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.player-bar {
  position: sticky;
  top: 0px;
  background-color: white;
  z-index: 9999;
}